Repository PrunaAI/pruna: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, check-pruna-pro

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        exclude: uv.lock
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: \.md|.svg|.ipynb$
      - id: no-commit-to-branch
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff-check
        types_or: [ python, pyi ]
        args: [--fix]
      - id: ruff-format
        types_or: [ python, pyi ]

  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uvx ty check . --exclude docs/tutorials/*.ipynb
        language: system
        types: [python]
        pass_filenames: false

  - repo: local
    hooks:
      - id: check-pruna-pro
        name: Check for pruna_pro
        entry: >
          bash -c '
          git diff --cached --name-status |
          grep -v "^D" |
          cut -f2- |
          while IFS= read -r file; do
              if [ -f "$file" ] && ["$file" != ".pre-commit-config.yaml"] && grep -q "pruna_pro" "$file"; then
                  echo "Error: pruna_pro found in staged file $file"
                  exit 1
              fi
          done
          '
        language: system
        stages: [pre-commit]
        types: [python]
        exclude: "^docs/"

      - id: trufflehog
        name: TruffleHog
        description: Detect secrets in your data.
        entry: bash -c 'git diff --cached --name-only | xargs -I {} trufflehog filesystem {} --fail --no-update'
        language: system
        stages: ["pre-commit", "pre-push"]

tests: adjust test structure to new refactoring
  tests/algorithms/test_combinations.py
  tests/algorithms/testers/__init__.py
  tests/algorithms/testers/awq.py
  tests/algorithms/testers/base_tester.py
  tests/algorithms/testers/batching.py
  tests/algorithms/testers/caching.py
  tests/algorithms/testers/cgenerate.py
  tests/algorithms/testers/compilation.py
  tests/algorithms/testers/deepcache.py
  tests/algorithms/testers/diffusers_int8.py
  tests/algorithms/testers/fastercache.py
  tests/algorithms/testers/flash_attn3.py
  tests/algorithms/testers/fora.py
  tests/algorithms/testers/gptq.py
  tests/algorithms/testers/half.py
  tests/algorithms/testers/hqq.py
  tests/algorithms/testers/hqq_diffusers.py
  tests/algorithms/testers/ifw.py
  tests/algorithms/testers/llm_int8.py
  tests/algorithms/testers/pab.py
  tests/algorithms/testers/pruning.py
  tests/algorithms/testers/qkv_diffusers.py
  tests/algorithms/testers/quantization.py
  tests/algorithms/testers/quanto.py
  tests/algorithms/testers/stable_fast.py
  tests/algorithms/testers/torch_compile.py
  tests/algorithms/testers/torch_dynamic.py
  tests/algorithms/testers/torch_structured.py
  tests/algorithms/testers/torch_unstructured.py
  tests/algorithms/testers/torchao.py
  tests/algorithms/testers/whispers2t.py
  tests/common.py
  tests/config/test_model_compatibility.py
  tests/config/test_pre_smash_hook.py
  tests/config/test_target_modules.py
Due: ty, check-pruna-pro

tests: add symmetry checks for algorithm order
  tests/algorithms/test_compatibility_symmetry.py
Due: ty, check-pruna-pro

fix: support older smash configs
  src/pruna/config/smash_config.py
Due: ty, check-pruna-pro

fix: add `global_utils` exception to algorithm registry
  src/pruna/algorithms/base/registry.py
Due: ty, check-pruna-pro

feat: add utility to register custom algorithm
  src/pruna/algorithms/base/registry.py
Due: ty, check-pruna-pro

style: address PR comments
  src/pruna/algorithms/base/pruna_base.py
  src/pruna/algorithms/base/registry.py
  src/pruna/algorithms/half.py
  src/pruna/algorithms/pab.py
  src/pruna/algorithms/torch_compile/torch_compile.py
  src/pruna/config/pre_smash_routines.py
  src/pruna/config/smash_config.py
  src/pruna/smash.py
Due: ty, check-pruna-pro

fix: extending compatible methods
  src/pruna/algorithms/base/pruna_base.py
  src/pruna/config/smash_config.py
Due: ty, check-pruna-pro

style: address PR comments
  src/pruna/algorithms/base/pruna_base.py
  src/pruna/algorithms/base/registry.py
  src/pruna/algorithms/c_translate.py
  src/pruna/algorithms/flash_attn3.py
  src/pruna/algorithms/torch_dynamic.py
  src/pruna/config/pre_smash_routines.py
  src/pruna/config/smash_config.py
  src/pruna/config/smash_space.py
  tests/config/test_pre_smash_routines.py
Due: ty, check-pruna-pro

style: initial fix all linting complaints
  src/pruna/algorithms/__init__.py
  src/pruna/algorithms/base/__init__.py
  src/pruna/algorithms/base/pruna_base.py
  src/pruna/algorithms/base/tags.py
  src/pruna/algorithms/flash_attn3.py
  src/pruna/algorithms/torch_dynamic.py
  src/pruna/algorithms/torchao.py
  src/pruna/config/pre_smash_routines.py
  src/pruna/config/smash_config.py
  src/pruna/config/smash_space.py
  src/pruna/config/target_modules.py
  src/pruna/engine/load.py
  src/pruna/engine/save.py
  src/pruna/evaluation/metrics/metric_model_architecture.py
  src/pruna/evaluation/metrics/result.py
Due: ty, check-pruna-pro

fix: adjust smash config access in algorithms
  src/pruna/algorithms/stable_fast.py
  src/pruna/algorithms/torch_compile/torch_compile.py
  src/pruna/algorithms/torchao.py
Due: ty, check-pruna-pro

refactor: remove `incompatible` specification
  src/pruna/algorithms/base/pruna_base.py
  src/pruna/engine/load.py
Due: ty, check-pruna-pro

style: fix remaining linting errors
  pyproject.toml
  src/pruna/algorithms/base/pruna_base.py
  src/pruna/algorithms/base/registry.py
  src/pruna/algorithms/torch_compile/generators.py
  src/pruna/engine/utils.py
  src/pruna/evaluation/metrics/metric_stateful.py
Due: ty, check-pruna-pro

style: fix typing error w.r.t. compatibility setter
  src/pruna/algorithms/base/pruna_base.py
  src/pruna/algorithms/c_translate.py
  src/pruna/algorithms/deepcache.py
  src/pruna/algorithms/fastercache.py
  src/pruna/algorithms/flash_attn3.py
  src/pruna/algorithms/fora.py
  src/pruna/algorithms/gptq_model.py
  src/pruna/algorithms/half.py
  src/pruna/algorithms/hqq.py
  src/pruna/algorithms/hqq_diffusers.py
  src/pruna/algorithms/huggingface_diffusers_int8.py
  src/pruna/algorithms/huggingface_llm_int8.py
  src/pruna/algorithms/ifw.py
  src/pruna/algorithms/llm_compressor.py
  src/pruna/algorithms/pab.py
  src/pruna/algorithms/qkv_diffusers.py
  src/pruna/algorithms/quanto.py
  src/pruna/algorithms/stable_fast.py
  src/pruna/algorithms/torch_compile/torch_compile.py
  src/pruna/algorithms/torch_dynamic.py
  src/pruna/algorithms/torch_structured.py
  src/pruna/algorithms/torch_unstructured.py
  src/pruna/algorithms/torchao.py
  src/pruna/algorithms/ws2t.py
  src/pruna/engine/utils.py
  src/pruna/logging/utils.py
Due: ty, check-pruna-pro

style: import sorting
  src/pruna/algorithms/c_translate.py
  src/pruna/algorithms/ws2t.py
Due: ty, check-pruna-pro

fix: some final bugs
  src/pruna/algorithms/base/pruna_base.py
  src/pruna/config/pre_smash_routines.py
  src/pruna/config/smash_config.py
  tests/config/test_pre_smash_routines.py
Due: ty, check-pruna-pro

fix: return type of registry function
  src/pruna/algorithms/base/registry.py
Due: ty, check-pruna-pro

fix: model context docstring
  src/pruna/engine/utils.py
Due: ty, check-pruna-pro

fix: duplicate pyproject.toml key
  pyproject.toml
Due: none

fix: unify registry logic
  src/pruna/algorithms/base/registry.py
Due: ty, check-pruna-pro

fix: address cursorbot slander
  src/pruna/algorithms/torch_compile/torch_compile.py
  src/pruna/config/smash_config.py
Due: ty, check-pruna-pro

style: move inline comments
  src/pruna/evaluation/metrics/metric_model_architecture.py
Due: ty, check-pruna-pro

feat: additional check in algorithm order overwrite
  src/pruna/config/pre_smash_routines.py
  src/pruna/smash.py
Due: ty, check-pruna-pro

fix: documentation wording
  src/pruna/config/target_modules.py
Due: ty, check-pruna-pro

fix: device function patching in tests
  tests/config/test_pre_smash_routines.py
Due: ty, check-pruna-pro

docs: update readme with new SmashConfig interface
  README.md
Due: none

docs: add power user guide including target modules
  docs/user_manual/power_user.rst
  docs/user_manual/target_modules.rst
Due: none

docs: update user manual with new SmashConfig interface
  docs/user_manual/configure.rst
  docs/user_manual/customize_algorithm.rst
  docs/user_manual/evaluate.rst
  docs/user_manual/save_load.rst
  docs/user_manual/smash.rst
Due: none

fix: update formatting of long smash configs
  README.md
  docs/tutorials/deploying_sana_tutorial.ipynb
  docs/tutorials/portable_compilation.ipynb
  docs/tutorials/video_generation.ipynb
  docs/user_manual/power_user.rst
Due: none

docs: update algorithm overview generation script
  docs/utils/gen_docs.py
  src/pruna/algorithms/base/pruna_base.py
  src/pruna/algorithms/base/registry.py
Due: ty, check-pruna-pro

fix: compatible algorithm linking
  docs/utils/gen_docs.py
Due: ty

fix: target module reference in quanto tutorial
  docs/tutorials/target_modules_quanto.ipynb
Due: none

fix: exclude power user guide code snippets
  docs/user_manual/power_user.rst
Due: none

fix: exclude smash codeblocks to recude action runtime
  docs/user_manual/smash.rst
Due: none

build: bump pruna version to `v0.3.0`
  pyproject.toml
Due: none

fix: mistake in save_pruna_model
  src/pruna/engine/save.py
Due: ty, check-pruna-pro

fix: `target_modules` documentation and test selection (#431)
  docs/user_manual/power_user.rst
  docs/user_manual/smash.rst
Due: none

update dep for sphinx as well.
  pyproject.toml
Due: none
